/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp ESC                     &kp Q  &kp W  &kp F     &kp P           &kp G            &kp J      &kp L  &kp U      &kp Y       &kp SEMICOLON  &kp DELETE
&kp TAB                     &kp A  &kp R  &kp S     &kp T           &kp D            &kp H      &kp N  &kp E      &kp I       &kp O          &kp SQT
&mt LEFT_CONTROL BACKSLASH  &kp Z  &kp X  &kp C     &kp V           &kp B            &kp K      &kp M  &kp COMMA  &kp PERIOD  &kp SLASH      &kp ENTER
                                          &kp LGUI  &kp LEFT_SHIFT  &kp BACKSPACE    &kp SPACE  &mo 1  &mo 2
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp ESCAPE     &kp EXCL          &kp AT             &kp HASH              &kp DLLR               &kp PRCNT        &kp PLUS      &kp N7        &kp N8        &kp N9        &kp NUMBER_0     &kp DELETE
&kp TILDE      &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp CARET        &kp MINUS     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp KP_ASTERISK  &kp PIPE
&kp BACKSLASH  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LESS_THAN         &kp GREATER_THAN       &kp GRAVE        &kp KP_EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_DIVIDE    &kp RET
                                                    &kp LGUI              &kp LEFT_SHIFT         &kp BACKSPACE    &kp SPACE     &trans        &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp ESCAPE  &trans        &trans        &trans        &trans        &studio_unlock    &kp C_MUTE    &rgb_ug RGB_TOG  &kp PAGE_DOWN   &kp PRINTSCREEN  &kp PAGE_UP  &kp DELETE
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &kp C_MUTE    &kp LEFT         &kp DOWN        &kp UP_ARROW     &kp RIGHT    &kp PIPE
&kp LSHFT   &trans        &trans        &trans        &trans        &trans            &kp C_VOL_DN  &kp C_VOLUME_UP  &kp LEFT_ARROW  &kp DOWN         &kp RIGHT    &kp ENTER
                                        &kp LGUI      &trans        &kp BACKSPACE     &kp SPACE     &trans           &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
